<% provide(:title, "Contact") %>
<main class="container">
  <form action="">
    <label>Naam: </label><input type="text" name="naam" placeholder="Jan Janssen" required autofocus>
    <label>E-mail:</label><input type="email" name="mail" placeholder="info@colicss.nl" required>
    <textarea name="bericht" rows="8" cols="10">Hallo ColiCSS,
    </textarea>
    <input type="submit" name="verzend" value="Versturen">
  </form>
</main>
