<% provide(:title, "Reviews") %>

<main class="container">
  <div class="panel review">
    <h3>kilroy.nl <small>Hosting</small></h3>
    <p>Kilroy is een lokale nieuwspagina die actief is Overijssel en Zuid-Drenthe. Kilroy is heeft nieuws wat te maken heeft met brand en ongevallen in de regio.</p>
  </div>

  <div class="panel review">
    <h3>alfa-college.nl <small>Hosting</small></h3>
    <p>Het Alfa College heeft onze hosting ingebruik voor het hosten van hun website met daarop informatie of alle opleidingen die zij aanbieden.</p>
  </div>

  <div class="panel review">
    <h3>Veiligheidsregio Drenthe <small>Hosting</small></h3>
    <p>De veiligheidsregio Drenthe heeft een hosting pakket bij ons afgenomen voor het hosten van hun website, met daarop een wervingsactie voor brandweer vrijwilligers, tevens bevat de website, vele tips over brandveilig leven.</p>
  </div>

  <div class="panel review">
    <h3>kilroy.nl <small>Cloud</small></h3>
    <p>Omdat kilroy veel foto's en enkele video's heeft van veel incidenten in de regio, hebben ze er voor gekozen om naast hosting ook cloud opslag bij COLICSS af te nemen. Hierdoor hebben ze altijd en overal toegang tot hun bestanden.</p>
  </div>
</main>
