<% provide(:title, "Social") %>

<main class="container">
  <center>
    <br>
    <br>
    <%= link_to image_tag("Facebook.png", size: "300"), "http://facebook.com", target: "_blank" %>
    <%= link_to image_tag("Instagram1.png", size: "300"), "http://instagram.com", target: "_blank" %>
    <%= link_to image_tag("Twitter.png", size: "300"), "http://twitter.com", target: "_blank" %>
    <%= link_to image_tag("colicss_snap.png", size: "300"), "http://snapchat.com", target: "_blank" %>
  </center>

  <center>
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/COLICSS" data-widget-id="850279935851851776">Tweets over #COLICSS</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </center>
</main>
